# Флаг no-parse обязателен, иначе syslog-ng пытается парсить входящее сообщение,
# а оно в собственном формате, в результате в $MESSAGE получается искаженное сообщение
source s_udp_syslog {
    udp(
        port(514)
        flags(no-parse)
    );
};

# В этой точке назначения на всех хостах указывается ip-адрес АРМ АБИ
# сюда отправляются разобранные логи для вывода их в уведомлении
destination d_udp_syslog {
    udp(
        "{{ hostvars[ 'arm-abi' ].ansible_default_ipv4.address }}"
        port(514)
        template("$notification\n")
    );
};

# Отправка сообщения в именованный канал
destination d_pipe_sender {
    pipe(
        "/tmp/syslog-ng.msg"
        template("$MESSAGE\n")
        persist-name("d_remote_pipe")
    );
};

# Отправка сообщения в системную шину
destination d_dbus_sender {
    python(
        class("dbus_sender.DbusSender")
    );
};

log {
    source(s_udp_syslog);
    destination(d_dbus_sender);
};
